@font-face {
    font-family: '8 Bit Wonder';
    src: url('/RunChickenRun/fonts/8-BIT\ WONDER.TTF') format('truetype');
  }

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  #controls {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 5px;
  }

  svg {
    width: 30px;
    height: 30px;
    fill: #3B3B3B;
  }

  #end {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  #retry {
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    padding: 10px 20px;
    font-family: '8 Bit Wonder', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }

  #retry:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  #toggleButton {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    padding: 10px 20px;
    font-family: '8 Bit Wonder', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }

  #toggleButton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  #keyboard {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .key {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #3B3B3B;
    font-family: '8 Bit Wonder', sans-serif;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .key:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  